.search_container {
  padding: 2rem;
}

.search_heading {
  text-align: center;
}

.search_label {
  display: flex;
  justify-content: center;
}

.search_label input {
  padding: 1.5rem;
  font-size: 2rem;
  width: 100%;
}

.search_icon {
  align-self: center;
  position: absolute;
  right: 4rem;
}
